@model BabyDev.Web.ViewModels.AnswerViewModel
<div class="col-md-4">

</div>
<div class="col-md-6">
    <p>
        @Html.LabelFor(m => m.AuthorName):
        @Html.DisplayFor(m => m.AuthorName)
    </p>
    <p>
        @Html.DisplayFor(m => m.Body)
    </p>
    <p>
        @Html.LabelFor(m => m.AnsweredOn):
        @Html.DisplayFor(m => m.AnsweredOn)
    </p>

</div>

