@model BabyDev.Web.ViewModels.QuestionViewModel
<div class="row">
    <p>
        <strong>@Html.ActionLink(Model.Title, "Details", "Advice", new { id = Model.Id }, htmlAttributes: new { area = "" })</strong>
    </p>
    <p>
        @Html.DisplayFor(m => m.Body)
    </p>
    <p>
        asked by: <strong>@Html.DisplayFor(m => m.Author.UserName)</strong>
        on: @Html.DisplayFor(m => m.CreatedOn)
    </p>
</div>
<div class="row">
    <h4>Answers:</h4>
    @Html.DisplayFor(m => m.Answers)
</div>
<hr />