@model BabyDev.Web.Areas.Child.ViewModels.ChildViewModel

<h2>@Model.Name's profile</h2>
<p>
    <strong>@Html.LabelFor(m => m.Born) </strong>@Model.Born
</p>
<p>
    <strong>@Html.LabelFor(m => m.Gender) </strong>@Model.Gender
</p>
<p>
    @Html.ActionLink("Edit", "Edit")
</p>

